 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <script src="{% static 'jquery3.3.1.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/pace.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/plugins/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/bootstrap-datepicker.min.js' %}"></script>


    <script type="text/javascript">
      $('#sl').click(function(){
      	$('#tl').loadingBtn();
      	$('#tb').loadingBtn({ text : "Signing In"});
      });

      $('#el').click(function(){
      	$('#tl').loadingBtnComplete();
      	$('#tb').loadingBtnComplete({ html : "Sign In"});
      });

      $('#demoDate').datepicker({
      	format: "dd/mm/yyyy",
      	autoclose: true,
      	todayHighlight: true
      });

      $('#demoSelect').select2();
    </script>

    <style type="text/css">

    #align-mid td /*设置表格文字左右和上下居中对齐*/
        {
            vertical-align: middle;
            text-align: center;
        }

      </style>





    <title>切削用量对切削力的影响</title>

  </head>
  <body class="sidebar-mini fixed">
    <div class="wrapper">
      <!-- Navbar-->
      <header class="main-header hidden-print"><a class="logo" href="{% url 'hitvmm:index'%}">Virtual Machining Lab 3.0</a>
        <nav class="navbar navbar-static-top">
          <!-- Navbar Right Menu-->
          <div class="navbar-custom-menu">
            <div style="margin-top:15px;">
              <center>

                <h4>切削用量对切削力的影响</h4>
              </center>


        </nav>
      </header>
      <!-- Side-Nav-->
      <aside class="main-sidebar hidden-print">
        <section class="sidebar">
          <div class="user-panel">
            <div class="pull-left image"><img class="img-circle" src="{% static 'pic/head.jpg' %}" alt="User Image"></div>
            <div class="pull-left info">
              <p>{{name}}</p>
                <a href="{% url 'hitvmm:login'%}">退出登录</a>
            </div>
          </div>
          <!-- Sidebar Menu-->
          <ul class="sidebar-menu">
            <li><a href="{% url 'hitvmm:index'%}"><i class="fa fa-laptop"></i><span>实验预习</span></a></li>
            <li class="active"><a href="{% url 'hitvmm:exp_opr'%}"><i class="fa fa-dashboard"></i><span>实验操作</span></a></li>
            <li><a href="{% url 'hitvmm:report'%}"><i class="fa fa-file-text"></i><span>实验报告</span></a></li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">

        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <h3 class="card-title">切削用量对切削力的影响</h3>
              <p>③ 改变切削速度单因素切削力实验</p>
              <div class="card-footer">
              </div>
              <!--Radio Button Markup-->
              <div class="row">




                      <div class="col-lg-12">

                        <table class="table table-hover">
                        <tr>
                          <td>
                            <label class="control-label">进给量</label>
                          </td>
                        <td valign="middle">
                          <input type="range" id="jjly" min="0.1" max="0.6" step="0.01" onmouseup="document.getElementById('xianshijjly').value=document.getElementById('jjly').value"/>
                        </td>
                        <td>
                          <input class="btn btn-info btn-sm"  type="button" id="qxsdyweitiao_1" value="-" onclick="weijian2('jjly','xianshijjly')">
                          微调
                          <input class="btn btn-info btn-sm"  type="button" id="qxsdyweitiao_1" value="+" onclick="weizeng2('jjly','xianshijjly')">
                        </td>
                        <td valign="middle">
                          <input style="width:45px" type="value" id="xianshijjly" value="0.35" readonly/><p1>mm/r</p1>
                        </td>
                      </tr>
                      <tr>
                        <td></td><td></td><td></td><td></td>
                      </tr>

                      <tr>
                        <td>
                          <label  class="control-label">背吃刀量</label>
                        </td>
                        <td>
                          <input type="range" id="bcdly" min="1" max="6" step="0.1" onmouseup="document.getElementById('xianshibcdly').value=document.getElementById('bcdly').value">
                        <td>
                          <input class="btn btn-info btn-sm"  type="button" id="qxsdyweitiao_1" value="-" onclick="weijian1('bcdly','xianshibcdly')">
                          微调
                          <input class="btn btn-info btn-sm"  type="button" id="qxsdyweitiao_1" value="+" onclick="weizeng1('bcdly','xianshibcdly')"></td>
                        <td>
                          <input style="width:45px" type="value" id="xianshibcdly" value="3.5" readonly/><p1>mm</p1>
                        </td>

                      </tr>
                      <tr>
                        <td></td><td></td><td></td><td></td>
                      </tr>

                        <tr>
                          <td></td><td></td><td></td><td></td>
                        </tr>


                        <tr>
                          <td><label  class="control-label">切削速度</label>  </td>
                          <td>为保证实验质量，请尽可能分散取值</td><td></td><td></td>
                        </tr>

                        <!-- 第1组切削速度 -->
                        <tr>
                          <td>
                            <label  class="control-label"></label>
                          </td>
                          <td>
                            <input type="range" id="qxsdy_1" min="0" max="280" step="0.1" onmouseup="document.getElementById('xianshiqxsdy_1').value=document.getElementById('qxsdy_1').value">
                          <td>
                            <input class="btn btn-info btn-sm"  type="button" id="qxsdyweitiao_1" value="-" onclick="weijian3('qxsdy_1','xianshiqxsdy_1')">
                            微调
                            <input class="btn btn-info btn-sm"  type="button" id="qxsdyweitiao_1" value="+" onclick="weizeng3('qxsdy_1','xianshiqxsdy_1')">
                          </td>
                          <td>
                            <input style="width:40px" type="value" id="xianshiqxsdy_1" value="140" readonly/><p1>m/min
                          </td>
                        </tr>
                        <tr>
                          <td></td><td></td><td></td><td></td>
                        </tr>
                        <!-- 第2组切削速度 -->
                          <tr>
                            <td>
                              <label  class="control-label"></label>
                            </td>
                            <td>
                              <input type="range" id="qxsdy_2" min="0" max="280" step="0.1" onmouseup="document.getElementById('xianshiqxsdy_2').value=document.getElementById('qxsdy_2').value">
                            <td>
                              <input class="btn btn-info btn-sm"  type="button" value="-" onclick="weijian3('qxsdy_2','xianshiqxsdy_2')">
                              微调
                              <input class="btn btn-info btn-sm"  type="button" value="+" onclick="weizeng3('qxsdy_2','xianshiqxsdy_2')">
                            </td>
                            <td>
                              <input style="width:40px" type="value" id="xianshiqxsdy_2" value="140" readonly/><p1>m/min</p1>
                            </td>
                          </tr>
                          <tr>
                            <td></td><td></td><td></td><td></td>
                          </tr>

                          <!-- 第3组切削速度 -->
                          <tr>
                            <td>

                            </td>
                            <td>
                              <input type="range" id="qxsdy_3" min="0" max="280" step="0.1" onmouseup="document.getElementById('xianshiqxsdy_3').value=document.getElementById('qxsdy_3').value">
                            <td>
                              <input class="btn btn-info btn-sm"  type="button" value="-" onclick="weijian3('qxsdy_3','xianshiqxsdy_3')">
                              微调
                              <input class="btn btn-info btn-sm"  type="button" value="+" onclick="weizeng3('qxsdy_3','xianshiqxsdy_3')">
                          </td>
                            <td>
                              <input style="width:40px" type="value" id="xianshiqxsdy_3" value="140" readonly/><p1>m/min</p1>
                            </td>
                          </tr>
                          <tr>
                            <td></td><td></td><td></td><td></td>
                          </tr>

                          <!-- 第4组切削速度 -->
                          <tr>
                            <td>

                            </td>
                            <td>
                              <input type="range" id="qxsdy_4" min="0" max="280" step="0.1" onmouseup="document.getElementById('xianshiqxsdy_4').value=document.getElementById('qxsdy_4').value">
                            <td>
                              <input class="btn btn-info btn-sm"  type="button" value="-" onclick="weijian3('qxsdy_4','xianshiqxsdy_4')">
                              微调
                              <input class="btn btn-info btn-sm"  type="button" value="+" onclick="weizeng3('qxsdy_4','xianshiqxsdy_4')">
                            </td>
                            <td>
                              <input style="width:40px" type="value" id="xianshiqxsdy_4" value="140" readonly/><p1>m/min</p1>
                            </td>
                          </tr>
                          <tr>
                            <td></td><td></td><td></td><td></td>
                          </tr>

                          <!-- 第5组切削速度 -->
                          <tr>
                            <td>

                            </td>
                            <td>
                              <input type="range" id="qxsdy_5" min="0" max="280" step="0.1" onmouseup="document.getElementById('xianshiqxsdy_5').value=document.getElementById('qxsdy_5').value">
                            <td>
                              <input class="btn btn-info btn-sm"  type="button" value="-" onclick="weijian3('qxsdy_5','xianshiqxsdy_5')">
                              微调
                              <input class="btn btn-info btn-sm"  type="button" value="+" onclick="weizeng3('qxsdy_5','xianshiqxsdy_5')">
                          </td>
                            <td>
                              <input style="width:40px" type="value" id="xianshiqxsdy_5" value="140" readonly/><p1>m/min</p1>
                            </td>
                          </tr>
                          <tr>
                            <td></td><td></td><td></td><td></td>
                          </tr>

                          <!-- 第6组切削速度 -->
                          <tr>
                            <td>

                            </td>
                            <td>
                              <input type="range" id="qxsdy_6" min="0" max="280" step="0.1" onmouseup="document.getElementById('xianshiqxsdy_6').value=document.getElementById('qxsdy_6').value">
                            <td>
                              <input class="btn btn-info btn-sm"  type="button" value="-" onclick="weijian3('qxsdy_6','xianshiqxsdy_6')">微调<input class="btn btn-info btn-sm"  type="button" value="+" onclick="weizeng3('qxsdy_6','xianshiqxsdy_6')">
                          </td>
                            <td>
                              <input style="width:40px" type="value" id="xianshiqxsdy_6" value="140" readonly/><p1>m/min</p1>
                            </td>
                          </tr>
                          <tr>
                            <td></td><td></td><td></td><td></td>
                          </tr>

                          <!-- 第7组切削速度 -->
                          <tr>
                            <td>

                            </td>
                            <td>
                              <input type="range" id="qxsdy_7" min="0" max="280" step="0.1" onmouseup="document.getElementById('xianshiqxsdy_7').value=document.getElementById('qxsdy_7').value">
                            <td>
                              <input class="btn btn-info btn-sm"  type="button" value="-" onclick="weijian3('qxsdy_7','xianshiqxsdy_7')">微调<input class="btn btn-info btn-sm"  type="button" value="+" onclick="weizeng3('qxsdy_7','xianshiqxsdy_7')">
                          </td>
                            <td>
                              <input style="width:40px" type="value" id="xianshiqxsdy_7" value="140" readonly/><p1>m/min</p1>
                            </td>
                          </tr>
                          <tr>
                            <td></td><td></td><td></td><td></td>
                          </tr>

                          <!-- 第8组切削速度 -->
                          <tr>
                            <td>

                            </td>
                            <td>
                              <input type="range" id="qxsdy_8" min="0" max="280" step="0.1" onmouseup="document.getElementById('xianshiqxsdy_8').value=document.getElementById('qxsdy_8').value">
                            <td>
                              <input class="btn btn-info btn-sm"  type="button" value="-" onclick="weijian3('qxsdy_8','xianshiqxsdy_8')">微调<input class="btn btn-info btn-sm"  type="button" value="+" onclick="weizeng3('qxsdy_8','xianshiqxsdy_8')">
                          </td>
                            <td>
                              <input style="width:40px" type="value" id="xianshiqxsdy_8" value="140" readonly/><p1>m/min</p1>
                            </td>
                          </tr>
                          <tr>
                            <td></td><td></td><td></td><td></td>
                          </tr>

                          <!-- 第9组切削速度 -->
                          <tr>
                            <td>

                            </td>
                            <td>
                              <input type="range" id="qxsdy_9" min="0" max="280" step="0.1" onmouseup="document.getElementById('xianshiqxsdy_9').value=document.getElementById('qxsdy_9').value">
                            <td>
                              <input class="btn btn-info btn-sm"  type="button" value="-" onclick="weijian3('qxsdy_9','xianshiqxsdy_9')">微调<input class="btn btn-info btn-sm"  type="button" value="+" onclick="weizeng3('qxsdy_9','xianshiqxsdy_9')">
                          </td>
                            <td>
                              <input style="width:40px" type="value" id="xianshiqxsdy_9" value="140" readonly/><p1>m/min</p1>
                            </td>
                          </tr>
                          <tr>
                            <td></td><td></td><td></td><td></td>
                          </tr>

                          <!-- 第10组切削速度 -->
                          <tr>
                            <td>

                            </td>
                            <td>
                              <input type="range" id="qxsdy_10" min="0" max="280" step="0.1" onmouseup="document.getElementById('xianshiqxsdy_10').value=document.getElementById('qxsdy_10').value">
                            <td>
                              <input class="btn btn-info btn-sm"  type="button" value="-" onclick="weijian3('qxsdy_10','xianshiqxsdy_10')">微调<input class="btn btn-info btn-sm"  type="button" value="+" onclick="weizeng3('qxsdy_10','xianshiqxsdy_10')">
                          </td>
                            <td>
                              <input style="width:40px" type="value" id="xianshiqxsdy_10" value="140" readonly/><p1>m/min</p1>
                            </td>
                          </tr>
                          <tr>
                            <td></td><td></td><td></td><td></td>
                          </tr>

                        </table>
                        <!--隐藏的一些数据-->

                       <input type="hidden"   name="xfc" id="qxsdy_11" value="{{xfc}}">
                       <input type="hidden"  name="yfc" id="qxsdy_12" value="{{yfc}}">
                       <input type="hidden" id="cfc"  name="cfc" value="{{cfc}}">
                       <input type="hidden" id="kkfc"  name="kkfc" value="{{kkfc}}">
                       <input type="hidden" id="klfc"  name="klfc" value="{{klfc}}">
                       <input type="hidden" id="krfc" value="{{knfc}}">
                       <input type="hidden" id="knfc" value="{{krfc}}">
                       <input type="hidden" id="xuehao" value="{{password}}">
                       <input type="hidden" id="xingming" value="{{name}}">




                        <table class="table table-hover">
                        <tr>
                          <td>
                          </td>
                          <td>
                          <label  class="control-label">切削速度（1）</label>

                          </td>
                          <td>
                            <label  class="control-label">切削速度（2）</label>
                          </td>
                          <td>
                            <label  class="control-label">切削速度（3）</label>
                          </td>
                          <td>
                            <label  class="control-label">切削速度（4）</label>
                          </td>
                          <td>
                            <label  class="control-label">切削速度（5）</label>
                          </td>


                        </tr>

                        <tr>
                          <td>
                          </td>
                          <td>
                            <button class="btn btn-success"  type="button" onclick="donghua100(
                            document.getElementById('jjly').value,
                            document.getElementById('bcdly').value,
                            document.getElementById('qxsdy_1').value,
                            document.getElementById('qxsdy_2').value,
                            document.getElementById('qxsdy_3').value,
                            document.getElementById('qxsdy_4').value,
                            document.getElementById('qxsdy_5').value,
                            document.getElementById('qxsdy_6').value,
                            document.getElementById('qxsdy_7').value,
                            document.getElementById('qxsdy_8').value,
                            document.getElementById('qxsdy_9').value,
                            document.getElementById('qxsdy_10').value,
                            document.getElementById('qxsdy_11').value,
                            document.getElementById('qxsdy_12').value,0,this)">开始切削</button>
                          </td>
                          <td>

                            <button class="btn btn-success"  type="button" onclick="donghua100(
                            document.getElementById('jjly').value,
                            document.getElementById('bcdly').value,
                            document.getElementById('qxsdy_1').value,
                            document.getElementById('qxsdy_2').value,
                            document.getElementById('qxsdy_3').value,
                            document.getElementById('qxsdy_4').value,
                            document.getElementById('qxsdy_5').value,
                            document.getElementById('qxsdy_6').value,
                            document.getElementById('qxsdy_7').value,
                            document.getElementById('qxsdy_8').value,
                            document.getElementById('qxsdy_9').value,
                            document.getElementById('qxsdy_10').value,
                            document.getElementById('qxsdy_11').value,
                            document.getElementById('qxsdy_12').value,1,this)">开始切削</button>
                          </td>
                          <td>

                            <button class="btn btn-success"  type="button" onclick="donghua100(
                            document.getElementById('jjly').value,
                            document.getElementById('bcdly').value,
                            document.getElementById('qxsdy_1').value,
                            document.getElementById('qxsdy_2').value,
                            document.getElementById('qxsdy_3').value,
                            document.getElementById('qxsdy_4').value,
                            document.getElementById('qxsdy_5').value,
                            document.getElementById('qxsdy_6').value,
                            document.getElementById('qxsdy_7').value,
                            document.getElementById('qxsdy_8').value,
                            document.getElementById('qxsdy_9').value,
                            document.getElementById('qxsdy_10').value,
                            document.getElementById('qxsdy_11').value,
                            document.getElementById('qxsdy_12').value,2,this)">开始切削</button>
                          </td>
                          <td>

                            <button class="btn btn-success"  type="button" onclick="donghua100(
                            document.getElementById('jjly').value,
                            document.getElementById('bcdly').value,
                            document.getElementById('qxsdy_1').value,
                            document.getElementById('qxsdy_2').value,
                            document.getElementById('qxsdy_3').value,
                            document.getElementById('qxsdy_4').value,
                            document.getElementById('qxsdy_5').value,
                            document.getElementById('qxsdy_6').value,
                            document.getElementById('qxsdy_7').value,
                            document.getElementById('qxsdy_8').value,
                            document.getElementById('qxsdy_9').value,
                            document.getElementById('qxsdy_10').value,
                            document.getElementById('qxsdy_11').value,
                            document.getElementById('qxsdy_12').value,3,this)">开始切削</button>
                          </td>
                          <td>

                            <button class="btn btn-success"  type="button" onclick="donghua100(
                            document.getElementById('jjly').value,
                            document.getElementById('bcdly').value,
                            document.getElementById('qxsdy_1').value,
                            document.getElementById('qxsdy_2').value,
                            document.getElementById('qxsdy_3').value,
                            document.getElementById('qxsdy_4').value,
                            document.getElementById('qxsdy_5').value,
                            document.getElementById('qxsdy_6').value,
                            document.getElementById('qxsdy_7').value,
                            document.getElementById('qxsdy_8').value,
                            document.getElementById('qxsdy_9').value,
                            document.getElementById('qxsdy_10').value,
                            document.getElementById('qxsdy_11').value,
                            document.getElementById('qxsdy_12').value,4,this)">开始切削</button>
                          </td>
                        </tr>

                        <tr>
                          <td>
                          </td>
                          <td>
                            <label  class="control-label">切削速度（6）</label>

                          </td>
                          <td>
                            <label  class="control-label">切削速度（7）</label>
                          </td>
                          <td>
                            <label  class="control-label">切削速度（8）</label>
                          </td>
                          <td>
                            <label  class="control-label">切削速度（9）</label>
                          </td>
                          <td>
                            <label  class="control-label">切削速度（10）</label>
                          </td>
                        </tr>


                        <tr>
                          <td>
                          <button class="btn btn-warning" type="button" onclick="fuwei()">界面复位</button>
                          </td>
                          <td>
                            <button class="btn btn-success"  type="button" onclick="donghua100(
                            document.getElementById('jjly').value,
                            document.getElementById('bcdly').value,
                            document.getElementById('qxsdy_1').value,
                            document.getElementById('qxsdy_2').value,
                            document.getElementById('qxsdy_3').value,
                            document.getElementById('qxsdy_4').value,
                            document.getElementById('qxsdy_5').value,
                            document.getElementById('qxsdy_6').value,
                            document.getElementById('qxsdy_7').value,
                            document.getElementById('qxsdy_8').value,
                            document.getElementById('qxsdy_9').value,
                            document.getElementById('qxsdy_10').value,
                            document.getElementById('qxsdy_11').value,
                            document.getElementById('qxsdy_12').value,5,this)">开始切削</button>
                          </td>
                          <td>
                            <button class="btn btn-success"  type="button" onclick="donghua100(
                            document.getElementById('jjly').value,
                            document.getElementById('bcdly').value,
                            document.getElementById('qxsdy_1').value,
                            document.getElementById('qxsdy_2').value,
                            document.getElementById('qxsdy_3').value,
                            document.getElementById('qxsdy_4').value,
                            document.getElementById('qxsdy_5').value,
                            document.getElementById('qxsdy_6').value,
                            document.getElementById('qxsdy_7').value,
                            document.getElementById('qxsdy_8').value,
                            document.getElementById('qxsdy_9').value,
                            document.getElementById('qxsdy_10').value,
                            document.getElementById('qxsdy_11').value,
                            document.getElementById('qxsdy_12').value,6,this)">开始切削</button>
                          </td>
                          <td>
                            <button class="btn btn-success"  type="button" onclick="donghua100(
                            document.getElementById('jjly').value,
                            document.getElementById('bcdly').value,
                            document.getElementById('qxsdy_1').value,
                            document.getElementById('qxsdy_2').value,
                            document.getElementById('qxsdy_3').value,
                            document.getElementById('qxsdy_4').value,
                            document.getElementById('qxsdy_5').value,
                            document.getElementById('qxsdy_6').value,
                            document.getElementById('qxsdy_7').value,
                            document.getElementById('qxsdy_8').value,
                            document.getElementById('qxsdy_9').value,
                            document.getElementById('qxsdy_10').value,
                            document.getElementById('qxsdy_11').value,
                            document.getElementById('qxsdy_12').value,7,this)">开始切削</button>
                          </td>
                          <td>
                            <button class="btn btn-success"  type="button" onclick="donghua100(
                            document.getElementById('jjly').value,
                            document.getElementById('bcdly').value,
                            document.getElementById('qxsdy_1').value,
                            document.getElementById('qxsdy_2').value,
                            document.getElementById('qxsdy_3').value,
                            document.getElementById('qxsdy_4').value,
                            document.getElementById('qxsdy_5').value,
                            document.getElementById('qxsdy_6').value,
                            document.getElementById('qxsdy_7').value,
                            document.getElementById('qxsdy_8').value,
                            document.getElementById('qxsdy_9').value,
                            document.getElementById('qxsdy_10').value,
                            document.getElementById('qxsdy_11').value,
                            document.getElementById('qxsdy_12').value,8,this)">开始切削</button>
                          </td>
                          <td>
                            <button class="btn btn-success" type="button" onclick="donghua100(
                            document.getElementById('jjly').value,
                            document.getElementById('bcdly').value,
                            document.getElementById('qxsdy_1').value,
                            document.getElementById('qxsdy_2').value,
                            document.getElementById('qxsdy_3').value,
                            document.getElementById('qxsdy_4').value,
                            document.getElementById('qxsdy_5').value,
                            document.getElementById('qxsdy_6').value,
                            document.getElementById('qxsdy_7').value,
                            document.getElementById('qxsdy_8').value,
                            document.getElementById('qxsdy_9').value,
                            document.getElementById('qxsdy_10').value,
                            document.getElementById('qxsdy_11').value,
                            document.getElementById('qxsdy_12').value,9,this)">开始切削</button>
                          </td>
                        </tr>
                      </table>
                        <div>
                          <center>
                        <canvas width="750" height="540" id="donghua1_1">
                        </canvas>
                          </center>
                        </div>
                        <br><br>
                        <br><br>
                        <br><br>

                        <div>
                        <center>
                        <button class="btn btn-success" type="button" onclick="gra_dra()">生成实验结果</button>
                        <button class="btn btn-success" id="saveexpiamgebtn" onclick="saveExpImage()" >保存结果图象</button>
                      </center><br>
                      </div>
                      <div>
                        <center>
                      <canvas width="540" height="550" id="tuxiang_1">
                      </canvas>
                    </center>


                      <div class="col-md-12 center" id="qxlcanshukuang2_2">
                      </div>






                    </div>

                    </div>
                    <center>
                    <a class="btn btn-link" href="{% url 'hitvmm:exp_opr_1_3'%}">上一个子实验</a>
                    <a class="btn btn-info" href="{% url 'hitvmm:exp_opr'%}">结束实验</a>
                    </center>

              </div>
            </div>

          </div>
       </div>
    </div>




<script type="text/javascript" src="{% static 'exp_js/shiyan2_4yunsuan.js' %}"></script>
<script type="text/javascript" src="{% static 'exp_js/weitiao.js' %}"></script>

  </body>
</html>
