<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'jquery3.3.1.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/pace.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        //rsf安全问题解决
          jQuery(document).ajaxSend(function(event, xhr, settings) {
          function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie != '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                      var cookie = jQuery.trim(cookies[i]);
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) == (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }
          function sameOrigin(url) {
              // url could be relative or scheme relative or absolute
              var host = document.location.host; // host + port
              var protocol = document.location.protocol;
              var sr_origin = '//' + host;
              var origin = protocol + sr_origin;
              // Allow absolute or scheme relative URLs to same origin
              return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                  (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                  // or any other URL that isn't scheme relative or absolute i.e relative.
                  !(/^(\/\/|http:|https:).*/.test(url));
          }
          function safeMethod(method) {
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }

          if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
              xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
          }
      });
      //上传文件

    function FileUpload() {

            var experiment_id = $("input:radio[name='experiment_id']:checked").val();

            if(experiment_id==undefined){
                alert('提交报告前，请选择对应的实验名称~');
                return false
              }

            var username= $("#username").text();
            var userpassword= $("#userpassword").text();
            var student_id=$("#student_id").val();
            var timestamp = Date.parse(new Date());

            var new_file_name = experiment_id+'_'+username+'_'+userpassword+'_'+timestamp+'.pdf';

            var form_data = new FormData();
            var file_info =$( '#file_upload')[0].files[0];
            form_data.append('file',file_info);
            form_data.append('new_file_name',new_file_name);
            form_data.append('name',username);
            form_data.append('password',userpassword);
            form_data.append('student_id',student_id);
            form_data.append('experiment_id',experiment_id);


            if(file_info==undefined){
                alert('请选择您所要提交的文件，注意格式和大小要求~');
                return false
              }


            if(file_info.type !='application/pdf'){
                alert("文件不是PDF格式~");
                return false
              }



            if(file_info.size >3*1024*1024){
                alert("文件已经超过3M，上传失败~");
                return false
              }


            $.ajax({
                url:"{% url 'hitvmm:upload_ajax'%}",
                type:'POST',
                data: form_data,
                processData: false,  // tell jquery not to process the data
                contentType: false, // tell jquery not to set contentType
                success: function(callback) {

                    console.log('ok')
                    alert("上传成功")
                }
            });

            }
    </script>

    <title>实验报告</title>

  </head>
  <body class="sidebar-mini fixed">
    <div class="wrapper">
      <!-- Navbar-->
      <header class="main-header hidden-print"><a class="logo" href="{% url 'hitvmm:index'%}">Virtual Machining Lab 3.0</a>
        <nav class="navbar navbar-static-top">
          <!-- Navbar Right Menu-->
          <div class="navbar-custom-menu">
            <ul class="top-nav">
              <!-- User Menu-->
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu">
                  <li><a href="page-login.html"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Side-Nav-->
      <aside class="main-sidebar hidden-print">
        <section class="sidebar">
          <div class="user-panel">
            <div class="pull-left image"><img class="img-circle" src="{% static 'pic/head.jpg' %}" alt="User Image"></div>
            <div class="pull-left info">
              <p id="username">{{name}}</p>
              <a id="userpassword" href="{% url 'hitvmm:login'%}">退出登录</a>
            </div>
          </div>
          <!-- Sidebar Menu-->
          <ul class="sidebar-menu">
            <li class="active"><a href=""><i class="fa fa-file-text"></i><span>报告批阅</span></a></li>
          </ul>
        </section>
      </aside>
      <div class="content-wrapper">




        <div class="bs-component">
          <ul class="nav nav-pills">
            <li class="active"><a>未批阅报告</a></li>
            <li><a href="#">已批阅报告</a></li>
        </div><br>


        <div class="card">
          <div class="card-body">
            <table class="table table-hover table-bordered" id="sampleTable">
              <h4>已提交报告</h4>
              <br>
              <thead>
                <tr>
                  <th>序号</th>
                  <th>实验名称</th>
                  <th>学生姓名</th>
                  <th>学生学号</th>
                  <th>提交时间</th>
                  <th></th>

                </tr>
              </thead>
              <tbody>
                {%for report in reports %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      {% if report.experiment_id == 1%}
                      <td>切削用量对切削力的影响</td>
                      {%endif%}
                      {% if report.experiment_id == 2 %}
                      <td>切削用量对切削温度的影响 </td>
                      {%endif%}
                      {% if report.experiment_id == 3 %}
                      <td>切削用量对表面粗糙度的影响</td>
                      {%endif%}

                      <td>{{report.student_name}}</td>
                      <td>{{report.student_id}}</td>

                      <td>{{report.subm_time}}</td>
                      <td><center><a class="btn btn-success" href="{% url 'hitvmm:report_correct_view' report.id %}">批阅</a></center></td>

                    </tr>
                {%endfor%}

              </tbody>
            </table>
          </div>
        </div>
       </div>
    </div>
<input type="hidden" id='student_id' value="{{student_id}}">
  </body>
</html>
